$color-1: #e4e4e4;  // light
$color-2: #1db687; // theme
$color-3: #1b2435; // dark hover
$color-4: #13152a; // dark
$white: #edf1ff;
$black: #444444;
$grey: #ccc;
$vibrant: #00ffff;
$danger: #d44161;
$danger-color: #d44161;
$success: #00ed33;
$bg-grey: #e4e4e4;
$bg-dark: $color-4;